<%= provide(:title, "Your Pets") %>
<div class="row">
  <div class="col-md-8">
    <h2><%= @user.name %>: Your Pets</h2>
    <% if @user.pets.any? %>
      <p><%= render @pets %></p>
    <% end %>
  </div>
</div>